@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.homepage h1{
  max-width: 50%;
  text-align: center;
  font-size: 70px;
}

.homepage h1 span{
 font-weight: 900;
}
@import "./assets/css/Header.css";
@import "./assets/css/OrderPage.css";
@import "./assets/css/Modal.css";
@import "./assets/css/Login.css";

